* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
    color: white;
}
body {
  background-color: rgb(135, 201, 197);
  display: flex;
  flex-direction: column;
  align-items: center;
}
