.list {
  &__container {
    width: 750px;
    border: 2px solid rgb(204, 76, 97);
    border-radius: 5px;
    min-height: 120px;
    padding: 20px;
    margin: 20px;
  }
  &__numbers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  &__title {
    text-transform: uppercase;
    font-size: 28px;
  }
}
